extends layout

block content
  if user
    h1 Hello #{user.email}
  else
    h1 Hello World
  each category in categories
    a(style="margin-right: 7px;" href="?category=#{category}")
      | #{category}
  each blog in blogs
    a(style="display:block;" href="/blog/#{blog._id}")
      | #{blog.header}
  br
  each author in authors
    a(style="margin-right: 7px;" href="?author=#{author}")
      | #{author}
  
  a(style="display:block;" href="/add")
    | Add
  if(!user)
    a(style="display:block;" href="/login")
      | login
  else
    a(style="display:block;" href="/logout")
      | logout
  
  